<div class="modal-header">
  <h4 class="modal-title">__jhiTranslateTag__('entityAudit.detail.title')</h4>

  <span class="btn btn-close" data-dismiss="modal" aria-hidden="true" (click)="activeModal.dismiss('closed')"></span>
</div>
<div class="modal-body pad">
  <div>
    <strong <%= jhiPrefix %>Translate="entityAudit.detail.action" [translateValues]="{ action: action }">
      {{ action }} action was performed on below data
    </strong>
    <br /><br />

    <del class="ngx-diff-light-theme">__jhiTranslateTag__('entityAudit.detail.old')</del>
    &nbsp;
    <ins class="ngx-diff-light-theme">__jhiTranslateTag__('entityAudit.detail.new')</ins>
  </div>
  <br />

  <label>__jhiTranslateTag__('entityAudit.detail.changedFields')</label>
  <ngx-unified-diff *ngIf="left && right" class="ngx-diff-light-theme" [before]="left" [after]="right" />
</div>
<div class="modal-footer">
  <button
    data-dismiss="modal"
    class="btn btn-secondary float-left"
    type="button"
    <%= jhiPrefix %>Translate="entityAudit.detail.close"
    (click)="activeModal.dismiss('closed')"
  >
      Close
  </button>
</div>
