<div class="modal-header">
  <h4 class="modal-title">__jhiTranslateTag__('entityAudit.detail.title')</h4>

  <span class="btn btn-close" data-dismiss="modal" aria-hidden="true" (click)="activeModal.dismiss('closed')"></span>
</div>
<div class="modal-body pad">
  <div>
    <strong>__jhiTranslateTag__('entityAudit.detail.action', { "action": "action" })</strong>
    <br /><br />

    <del class="ngx-diff-light-theme">__jhiTranslateTag__('entityAudit.detail.old')</del>
    &nbsp;
    <ins class="ngx-diff-light-theme">__jhiTranslateTag__('entityAudit.detail.new')</ins>
  </div>
  <br />

  <label for="changelogDiff">__jhiTranslateTag__('entityAudit.detail.changedFields')</label>
  <ngx-unified-diff id="changelogDiff" *ngIf="left && right" class="ngx-diff-light-theme" [before]="left" [after]="right" />
</div>
<div class="modal-footer">
  <button
    data-dismiss="modal"
    class="btn btn-secondary float-left"
    type="button"
    (click)="activeModal.dismiss('closed')"
  >__jhiTranslateTag__('entityAudit.detail.close')</button>
</div>
