#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
      time: '12:00'
    versioning-strategy: increase
    labels:
      - 'theme: dependencies'

  - package-ecosystem: 'npm'
    directory: '/generators/angular-audit/resources/'
    schedule:
      interval: 'daily'
      time: '12:00'
    versioning-strategy: increase
    labels:
      - 'theme: angular'
      - 'theme: dependencies'

  - package-ecosystem: 'maven'
    directory: '/generators/spring-boot-javers/resources/'
    schedule:
      interval: 'daily'
      time: '12:00'
    labels:
      - 'theme: dependencies'
      - 'theme: java'
