/* NOTE: for now the /deep/ shadow-piercing descendant combinator is
 * required because Angular defaults to emulated view encapsulation and
 * preprocesses all component styles to approximate shadow scoping
 * rules. This means these styles wouldn't apply to the HTML generated
 * by ng-diff-match-patch.
 *
 * This shouldn't be required when browsers support native
 * encapsulation, at which point /deep/ will also be deprecated/removed
 * see https://angular.io/guide/component-styles
 */

:host /deep/ ins {
    color: black;
    background: #bbffbb;
}

:host /deep/ del {
    color: black;
    background: #ffbbbb;
}
