<div class="modal-header">
    <h4 class="modal-title" jhiTranslate="entityAudit.detail.title">
		    Audit Details
    </h4>
    <button
            <% if (enableTranslation) {
              %>attr.aria-label="{{ 'entityAudit.detail.close' | translate }}"<%
            } else {
              %>aria-label="Close"<%
            } %>
            data-dismiss="modal" class="close" type="button"
            (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body pad">
    <div>
        <strong
                jhiTranslate="entityAudit.detail.action"
                translateValues="{action: '{{action}}'}">
            {{action}} action was performed on below data
        </strong>
        <br><br>

        <del class="diff diff-key" jhiTranslate="entityAudit.detail.old">
            Old/Removed value
        </del>
        &nbsp;
        <ins class="diff diff-key" jhiTranslate="entityAudit.detail.new">
            New/Added value
        </ins>
    </div>
    <br>

    <label jhiTranslate="entityAudit.detail.changedFields">Changed Fields</label>
    <pre class="code" id="resultChanges" diff [left]="left" [right]="right"></pre>
</div>
<div class="modal-footer">
    <button
            data-dismiss="modal" class="btn btn-secondary float-left"
            type="button" (click)="activeModal.dismiss('closed')">
        Done
    </button>
</div>
